# set shamefully-hoist to false in your global config either by copying this file to ~/.npmrc or running: 'pnpm config --global set shamefully-hoist=false'
#shamefully-hoist=false
public-hoist-pattern[]=*jest*

